.post-outer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-top: 30px;
    align-items: center;
}

.post-div {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.text-div {
    flex-grow: 2;
    display: flex;
    flex-flow: column wrap;
}

.post-card {
    align-self: flex-end;
    background-color: #9BB1FE;
    border-width: 0;
    border-radius: 500px;
    width: 150px;
    padding: 5px;
    transition: all .2s;
    margin-top: 30px;
}

.image {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.text-div > textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 15px 15px 0;
}

/*input[type="file"] {*/
/*    display: none;*/
/*}*/

/*.custom-file-upload {*/
/*    border-radius: 10px;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    background-image: url("image.png");*/
/*    background-color: #9ba8ff;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 170px;*/
/*    background-position: center center;*/
/*    margin-bottom: 25px;*/
/*}*/

/*.img-wrap{*/
/*    position: relative;*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    overflow: hidden;*/
/*    border-radius: 10px;*/
/*}*/
/*.img-upload:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    padding-top: 80px;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    text-align: center;*/
/*    width: 350px;*/
/*    background-image: url("https://image.flaticon.com/icons/svg/2206/2206408.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 150px;*/
/*    background-position: center center;*/
/*    background-color: #9ba8ff;*/
/*    height: 350px;*/
/*    opacity: 0;*/
/*    transition: .5s ease;*/
/*}*/
/*.img-upload:hover:before{*/
/*    opacity: 1;*/
/*}*/
/*img {*/
/*    width: auto;*/
/*    height: 100%;*/
/*}*/

.deleteImage {
    width: 20px !important;
    height: 20px !important;
    font-size: 0.7em !important;
    line-height: 22px !important;
    font-weight: normal !important;
}
